<div>
	<div class="modal fade" id="deleteRecord" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete {{title}}</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to delete?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-danger" ng-click="del()">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>