<div class="panel panel-success  perfhr-panel">
	<div class="panel-heading">
		<h1 class="section-title">Employees</h1>
		<ul class="rightsided-element">
        	<li>
        		<button data-toggle="modal" ng-click="addEmployee()" ng-if="role.empSvBtn"><i class="fa fa-plus"></i>Add</button>
        	</li>
        </ul>
	</div>
	<div>
	    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"  width="100%" class="table perfhr-table">
	    </table>
	</div>
</div>
<div class="modal fade bs-example-modal-lg" id="employeeForm" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" ng-show="!data.pk">Add Employee</h4>
                <h4 class="modal-title" ng-show="data.pk">Update {{data.lastName}}, {{data.firstName}} </h4>
            </div>
            <form role="form" ng-init="form={}; data={}" class="form-horizontal" novalidate>
	            <div class="modal-body">
	            	<div ng-include src="'html/employee.html'"></div>
	            </div>
	            <div class="modal-footer">
				   <button type="button" id="closeBtn" class="btn btn-close" data-dismiss="modal">Close</button>
				   <!-- <button type="submit" ng-if="isGeneratePwd" ng-show="data.pk" class="btn btn-save" action="generateCrendentials">Generate Credentials</button> -->
				   <button type="submit" ng-show="!data.pk" class="btn btn-save" action="save">Save</button>
				   <button type="submit" ng-show="data.pk" class="btn btn-update" ng-if="role.empUpBtn" action="update">Update</button>
				</div>
			</form>
        </div>
    </div>
</div>