<div class="row">
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">Employee Id</label>
         <div class="col-md-8">
            <input type="text" name="Employee Id" id="employee_id" ng-model="$parent.data.employeeId" class="form-control" placeholder="Employee Id" 
            	value="{{$parent.data.employeeId}}" validtype="all-chars" ng-disabled="isProfile" required ng-minlength="3" ng-maxlength="45">
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">Email Id</label>
         <div class="col-md-8">
            <input type="email" name="Email Id" ng-model="$parent.data.email" class="form-control" required validType="email" ng-minlength="3"
               ng-disabled="isProfile" ng-maxlength="45" placeholder="Email" value="{{$parent.data.email}}">
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">First Name</label>
         <div class="col-md-8">
            <input type="text" name="First Name" ng-model="$parent.data.firstName" class="form-control capitalize" required placeholder="First Name" validType="text-only" ng-minlength="3"
               ng-disabled="isProfile" ng-maxlength="45" value="{{$parent.data.firstName}}">
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">Last Name</label>
         <div class="col-md-8">
            <input type="text" name="Last Name" ng-model="$parent.data.lastName" class="form-control capitalize" required placeholder="Last Name" validType="text-only" ng-minlength="3"
               ng-disabled="isProfile" ng-maxlength="45" value="{{$parent.data.lastName}}">
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">Designation</label>
         <div class="col-md-8">
			<ol class="form-control nya-bs-select" name="Designation" title="Select" data-live-search="true" required validType="select" 
				disabled="isProfile" ng-model="$parent.data.designations" ng-selected="{{$parent.data.designations}}">
			  <li nya-bs-option="designation in designations | orderBy: 'designation' track by designation.pk">
			    <a>
			      {{designation.designation}}
			      <span class="glyphicon glyphicon-ok check-mark"></span>
			    </a>
			  </li>
			</ol>
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">SBU</label>
         <div class="col-md-8">
         	<input type="text" name="SBU" class="form-control" required validType="text-only" disabled value="data.designations.sbu" ng-model="data.designations.sbu">
         </div>
      </div>
   </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">Current Address</label>
         <div class="col-md-8">
         	<textarea rows="3" name="Current Address" cols="36" class="form-control" ng-model="$parent.data.currentAddress" required ng-minlength="10"
                placeholder="Door No, Street Name" validtype="all-chars" ng-maxlength="500" value={{$parent.data.currentAddress}}></textarea>
         </div>
      </div>
      <div class="form-group">
         <label class="col-md-4 control-label required">Current City</label>
         <div class="col-md-8">
         	<input  name="Current City" class="form-control" ng-model="$parent.data.city" required ng-minlength="3"
               placeholder="City" validtype="text-only" ng-maxlength="25" value={{$parent.data.city}}></textarea>
         </div>
      </div>
      <div class="form-group">
      	<label for="inputEmail" class="col-md-4 control-label required">Current Pincode</label>
         <div class="col-md-8">
            <input type="text" name="Current Pincode" ng-model="$parent.data.pincode" class="form-control" validType="number-only" required ng-minlength="6"
                ng-maxlength="6" placeholder="PinCode" value="{{$parent.data.pincode}}">
         </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Permanent Address</label>
         <div class="col-md-8">
         	<textarea rows="3" name="Permanent Address" cols="36" class="form-control" ng-model="$parent.data.permanentAddress" ng-minlength="10"
                placeholder="Door No, Street Name, City, Pincode" validtype="all-chars" ng-maxlength="250" value={{$parent.data.permanentAddress}}></textarea>
         </div>
      </div>
      <div class="form-group">
      	<label class="col-md-4 control-label required">Contact No</label>
         <div class="col-md-8">
            <input type="text" name="Contact No" ng-model="$parent.data.contactNo" class="form-control" required ng-minlength="10"
                ng-maxlength="250" placeholder="Contact No" validtype="all-chars" value="{{$parent.data.contactNo}}">
         </div>
      </div>
      <div class="form-group">
      	<label class="col-md-4 control-label required">Emergency Contact</label>
         <div class="col-md-8">
            <input type="text" name="Emergency Contact" ng-model="$parent.data.emergencyContactNo" required class="form-control" ng-minlength="10"
                ng-maxlength="25" placeholder="Emergency Contact No" validtype="all-chars" value="{{$parent.data.emergencyContactNo}}">
         </div>
      </div>
    </div>
</div>
<div class="row">
	<div class="col-sm-6 col-lg-6">
      <div class="form-group date">
         <label class="col-md-4 control-label required">D.O.B</label>
         <div class="col-md-8">
            <p class="input-group">
		        <input type="text" name="D.O.B" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" value={{$parent.data.dob}} ng-model="$parent.data.dob" is-open="dob.opened" 
		         	ng-disabled="isProfile" id="birthDate" datepicker-options="dateOptions" required ng-minlength="11" validType="date" ng-maxlength="11" close-text="Close"/>
		        <span class="input-group-btn">
		           <button type="button" class="btn btn-default" ng-click="dobDate()"><i class="glyphicon glyphicon-calendar"></i></button>
		        </span>
	        </p>
    	 </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
      	 <label class="col-md-4 control-label required">Gender</label>
         <div class="col-md-8">
             <ol class="nya-bs-select form-control"  name="Gender" title="Select" required validType="select" 
	        	disabled="isProfile" ng-model="data.gender" ng-selected="{{data.gender}}">
				  <li class="nya-bs-option" data-value="Male">
				    <a>Male</a>
				  </li>
				  <li class="nya-bs-option" data-value="Female">
				    <a>Female</a>
				  </li>
			  </ol>
	   	 </div>
      </div>
   </div>
</div>
<div class="row">
	<div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">Blood Group</label>
         <div class="col-md-8">
            <input type="text" name="Blood Group" ng-model="$parent.data.bloodGroup" required ng-minlength="2" ng-maxlength="10" class="form-control" 
            	ng-disabled="isProfile" validtype="all-chars" placeholder="Blood Group" value="{{$parent.data.bloodGroup}}">
         </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">Pancard No</label>
         <div class="col-md-8">
            <input type="text" name="Pancard No" ng-model="$parent.data.panCard" class="form-control" required 
            	ng-disabled="isProfile" validType="alpha-numeric" ng-minlength="10" ng-maxlength="10" placeholder="Pancard No" value="{{$parent.data.panCard}}">
         </div>
      </div>
    </div>
</div>
<div class="row">
	<div class="col-sm-6 col-lg-6">
      <div class="form-group date">
         <label class="col-md-4 control-label required">Date of Join</label>
         <div class="col-md-8">
          <p class="input-group">
	         <input type="text" name="Date of Join" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" value={{$parent.data.joinDate}} ng-model="$parent.data.joinDate" is-open="joinDate.opened" 
	         	ng-disabled="isProfile" id="joinDate" datepicker-options="dateOptions" required ng-minlength="11" validType="date" ng-maxlength="11" close-text="Close"/>
	         <span class="input-group-btn">
	           <button type="button" class="btn btn-default" ng-click="joinDate()"><i class="glyphicon glyphicon-calendar"></i></button>
	         </span>
	       </p>
   		 </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label required">Supervisor</label>
         <div class="col-md-8">
			<ol class="form-control nya-bs-select" name="Supervisor" title="Select" data-live-search="true" required validType="select" 
				disabled="isProfile" ng-model="$parent.data.supervisor" ng-selected="{{data.supervisor}}">
			  <li nya-bs-option="employee in employees track by employee.pk" data-value="employee.pk">
			    <a>
			      {{employee.lastName + ", " + employee.firstName+ "("+employee.employeeId+")"}}
			      <span class="glyphicon glyphicon-ok check-mark"></span>
			    </a>
			  </li>
			</ol>
         </div>
      </div>
   </div>
</div>
<div class="row">
	<div class="col-sm-6 col-lg-6">
      <div class="form-group date">
         <label class="col-md-4 control-label">Designation Effective Date</label>
         <div class="col-md-8">
          <p class="input-group">
	         <input type="text" name="Designation Effective Date" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" value={{$parent.data.designation_effective_date}} ng-model="$parent.data.designation_effective_date" is-open="jobEffDate.opened" 
	         	ng-disabled="isProfile" id="jobEffDate" datepicker-options="dateOptions" ng-minlength="11" validType="date" ng-maxlength="11" close-text="Close"/>
	         <span class="input-group-btn">
	           <button type="button" class="btn btn-default" ng-click="jobEffDate()"><i class="glyphicon glyphicon-calendar"></i></button>
	         </span>
	       </p>
   		 </div>
      </div>
   </div>
   <div class="col-sm-6 col-lg-6">
      <div class="form-group">
         <label class="col-md-4 control-label">Last Working Date</label>
         <div class="col-md-8">
             <p class="input-group">
	         	<input type="text" name="Last Working Date" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" value={{$parent.data.lastWorkDate}} ng-model="$parent.data.lastWorkDate" is-open="lastWorkDate.opened" 
	         		id="lastWorkDate" ng-disabled="isProfile" datepicker-options="dateOptions" ng-minlength="11" validType="date" ng-maxlength="11" close-text="Close"/>
	         	<span class="input-group-btn">
	           		<button type="button" class="btn btn-default" ng-click="lastWorkDate()"><i class="glyphicon glyphicon-calendar"></i></button>
	         	</span>
	       	 </p>
	   	 </div>
      </div>
   </div>
</div>