<div ng-include src="'html/templates/panelTemplate.html'"></div>
<!-- Modal -->
<div class="modal fade" id="holidaysForm" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form role="form" class="form-horizontal" novalidate>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" ng-show="!data.pk" id="myModalLabel">Save Holidays</h4>
					<h4 class="modal-title" ng-show="data.pk" id="myModalLabel">Update Holidays</h4>
				</div>
			    <div class="modal-body">
			    	<div class="row">
					      <div class="col-md-11">
					         <div class="form-group">
						         <label class="col-md-4 control-label required">Year :</label>
					             <div class="col-md-8">
									<ol class="form-control nya-bs-select" name="Year" title="Select" validType="select" required ng-model="data.year" ng-selected="{{data.year}}">
									  <li data-value="year.year" nya-bs-option="year in yearList track by year.year">
									    <a>
									      {{year.year}}
									      <span class="glyphicon glyphicon-ok check-mark"></span>
									    </a>
									  </li>
									</ol>
					             </div>
			   		         </div>
			   		         <div class="form-group">
						         <label class="col-md-4 control-label required">Holiday Name:</label>
					             <div class="col-md-8">
									<input type="text" name="Holiday Name" class="form-control capitalize" required validType="all-chars" ng-minlength="3"
		                				ng-maxlength="45" ng-model="data.holidayName"/>
					             </div>
			   		         </div>
			   		         <div class="form-group">
						         <label class="col-md-4 control-label required">Date :</label>
					             <div class="col-md-8">
						            <p class="input-group">
								        <input type="text" name="Date" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" value={{data.holidayDate}} ng-model="data.holidayDate" is-open="holDt.opened" 
								         	id="holidayDate" datepicker-options="dateOptions" required ng-minlength="11" validType="date" ng-maxlength="11" close-text="Close"/>
								        <span class="input-group-btn">
								           <button type="button" class="btn btn-default" ng-click="holDate()"><i class="glyphicon glyphicon-calendar"></i></button>
								        </span>
							        </p>
						    	 </div>
			   		         </div>
		   		         </div>
	   		         </div>
			    </div>
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-save" ng-show="!data.pk" action="save">Save</button>
					<button type="submit" class="btn btn-update" ng-if="role.hdUpBtn" ng-show="data.pk" action="update">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div ng-include src="'html/templates/deleteTemplate.html'"></div>