<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-touch">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Perficient Chennai-WFM</title>
<!-- Vendors CSS -->
<link rel="shortcut icon" type="image/x-icon" href="images/p.png"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="css/vendors.min.css">
  <link rel="stylesheet" href="css/prft.min.css">
</head>
<body ng-app="perficientHr" class="hold-transition skin-red sidebar-mini sidebar-collapse">
<div class="wrapper">
  <div ng-controller="headerController">
	  <header class="main-header">
	    <!-- Logo -->
	    <a href="javascript:void(0);" class="logo">
	      <!-- mini logo for sidebar mini 50x50 pixels -->
	      <span class="logo-mini"><img src="images/logo2-sm.png" alt="Perficient Logo sm"></span>
	      <!-- logo for regular state and mobile devices -->
	      <span class="logo-lg"><img src="images/logo2.png" alt="Perficient Logo"></span>
	    </a>
	    <!-- Header Navbar: style can be found in header.less -->
	    <nav class="navbar navbar-static-top">
	      <!-- Sidebar toggle button-->
	      <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
	        <span class="sr-only">Toggle navigation</span>
	      </a>
	      <div class="application-name">
	      	<ul class="nav navbar-nav">
	      		<li class="user">
	      			<a href="javascript:void(0);" class="dropdown-toggle cursor-default" data-toggle="dropdown">
	      				<span class="hidden-xs">Perficient - Work Force Management</span>
	      				<span class="visible-xs">Perficient - WFM</span>
	      			</a>
	      		</li>
	      	</ul>
	      </div>
	      <div class="navbar-custom-menu" id="navBarInfo" style="display:none;">
	        <ul class="nav navbar-nav">
	          <li class="dropdown notifications-menu" ng-if="notificationCount != 0">
	            <a href="javascript:void(0);" class="dropdown-toggle notification-count" data-toggle="dropdown">
	              <i class="fa fa-bell-o"></i>
	              <span class="label label-success">{{notificationCount}}</span>
	            </a>
	            <ul class="dropdown-menu">
	              <li class="header"><h4>You have {{notificationCount}} notifications</h4></li>
	              <li>
	                <!-- inner menu: contains the actual data -->
	                <ul class="menu">
	                	<li ng-repeat="notification in notifications">
		                    <a href="#/notifications">
		                      <i class="fa {{notification.icon}} {{notification.cls}}"></i> {{notification.count}} {{notification.type}} {{notification.msg}} 
		                    </a>
		                </li>
	                </ul>
	              </li>
	            </ul>
	          </li>
	          <!-- User Account: style can be found in dropdown.less -->
	          <li class="dropdown user user-menu">
	            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
	              <img src="images/user-icon.png" class="user-image" alt="User Image">
	              <span class="hidden-xs">{{user.lastName}}, {{user.firstName}}</span>
	            </a>
	            <ul class="dropdown-menu">
	              <!-- User image -->
	              <li class="user-header">
	                <img src="images/user-icon.png" class="img-circle" alt="User Image">
	                <p>
	                  {{user.lastName}}, {{user.firstName}}
	                  <small>{{user.designations.designation}}</small>
	                </p>
	              </li>
	              <!-- Menu Body -->
	              <!-- Menu Footer-->
	              <li class="user-footer">
	                <div class="pull-left">
	                  <a href="#/profile" class="btn btn-default btn-flat">Profile</a>
	                </div>
	                <div class="pull-right">
	                  <a href="javascript:void(0);" ng-click="logout()" id="logout" class="btn btn-default btn-flat">Log out</a>
	                </div>
	              </li>
	            </ul>
	          </li>
	          <!-- Control Sidebar Toggle Button -->
	          <li>
	            <a href="javascript:void(0);" ng-click="refreshPage()" ng-if="displayRefresh"><i class="fa fa-refresh fa-4"></i></a>
	          </li>
	        </ul>
	      </div>
	    </nav>
	  </header>
	  <!-- Left side column. contains the logo and sidebar -->
	  <aside class="main-sidebar">
	    <section class="sidebar">
	      <div ng-include src="'html/menu.html'"></div>
	      <div>
	      	<span id="version" style="color: #fff;"></span>
          </div>
	    </section>
	  </aside>
  </div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 976px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb" id="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> DashBoard</a></li>
      </ol>
    </section>
    <div class="divContainer" id="divContainer">
	  <div id="overlay" ajax-loading><img id="loading" src="images/loader.svg"></div>
	  <ng-view></ng-view>
	</div>
  </div>
</div>

<script src="js/dev/common-lib.min.js"></script>
<script src="js/dev/lib.js"></script>
<script src="js/app/app.js"></script>
<script src="js/constants/constants.js"></script>
<script src="js/dev/prft.min.js"></script>
</body>
</html>