
<!-- /.content -->

<!-- Main content -->
<section class="content">




<div class="formContainer">
<!-- <form [formGroup]="rForm" *ngIf='PRList'    #form (ngSubmit)="onSubmit($event , this , rForm)">
<p-accordion>
  <p-accordionTab formGroupName="continuosCodeReview"  header="Continues Code Review" [selected]="true">
    <div class="applicable">
      <input (click)='chk($event)' id="appli"  [(ngModel)] = "PRList.continuosCodeReview.applicable"   formControlName="applicable" [checked]="PRList.continuosCodeReview.applicable" type="checkbox">
      <label for="appli">Applicable  <div class="ckb">  <i class="fa fa-check"></i>  </div>  </label>
    </div>
    <div class="row">
      <fieldInput *ngFor="let field of subprocess1" [(ngModel)]="field.fieldvalue"  [fieldlabel]="field.fieldtext" [formControlName]="field.control"></fieldInput>
    </div>
  </p-accordionTab>
<p-accordionTab formGroupName="peerReviewPlan"  [selected]="true" header="Peer Code Review">
<div class="applicable">
   <input (click)='chk($event)' id="appli2"  [(ngModel)] = "PRList.peerReviewPlan.applicable"   formControlName="applicable" [checked]="PRList.peerReviewPlan.applicable" type="checkbox">
   <label for="appli2">Applicable<div class="ckb"><i class="fa fa-check"></i></div></label>
</div>  

<div class="row">
 <fieldInput *ngFor="let field of subprocess2" [(ngModel)]="field.fieldvalue"  [fieldlabel]="field.fieldtext" [formControlName]="field.control"></fieldInput>
</div>
<div class="row">
<div class="col-md-12 text-right">
  <input type="submit" class="btn btn-success"  value="Save" >
  <button class="btn btn-default">Cancel</button>
</div>
</div>
</p-accordionTab>
</p-accordion>

</form> -->
</div>

</section>
<br>
<br>
<br>
<br>
<br>

<p>sd</p>


{{test.name}}