<section>
<div class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</div>
<div class="opeiningscreen">
  <div class="logodiv">
    <div class="registerbody opacityanim">
      <div class="registerbody-left  col-xs-12">
        <form name="loginForm" onsubmit="return submitLogin()">
          <ul>
            <li>
              <div class="form-group">
                <label class="animatetoptobottom">Perficient UserName/Email</label>
                <div class="input-divs animatetoptobottom">
                  <input type="text" id="username" name="username" class="form-control"
                    placeholder="Enter username" autofocus="true"  required>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
                <div class="icnholder"><i class="regisr regit4"></i></div>
                <label class="animatetoptobottom">Password:</label>
                <div class="input-divs animatetoptobottom">
                  <input type="password" id="password" name="password" class="form-control"
                    placeholder="Enter password" required>
                </div>
              </div>
            </li>
              <div class="form-group text-center">
                <input id="login" type="button" class="btn btn-primary" value="Log In" />
              </div>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
