<section>
<div class="opeiningscreen col-md-4">
  <h5>JSESSIONID Creater</h5>
  <div class="logodiv">
    <div class="registerbody opacityanim">
      <div class="registerbody-left  col-xs-12">
        <form name="loginForm" onsubmit="return submitLogin()">
          <ul>
            <li>
              <div class="form-group">
                <label class="animatetoptobottom">Dev Login</label>
                <div class="input-divs animatetoptobottom">
                  <input type="text" id="username" name="username" class="form-control"
                    placeholder="Enter username" autofocus="true"  required>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
                <div class="icnholder"><i class="regisr regit4"></i></div>
                <label class="animatetoptobottom">Dev Password:</label>
                <div class="input-divs animatetoptobottom">
                  <input type="password" id="password" name="password" class="form-control"
                    placeholder="Enter password" required>
                </div>
              </div>
            </li>
              <div class="form-group text-center">
                <input id="login" type="button" class="btn btn-primary" value="Log In" />
              </div>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
.opeiningscreen {
    margin: 35px auto;
    border: 2px solid #049a56;
    padding: 30px 30px;
    background-color: #008749;
    border-radius: 3px;
}
.opeiningscreen h5{
    color: #fff;
    font-weight: 400;
    padding-bottom: 15px;
    font-size: 17px;
    border-bottom: 1px solid #099856;
    text-align: center;
    margin-bottom: 15px;
}
.opeiningscreen ul li {
    list-style:none;
    color: #ffffff;
    text-transform: uppercase;
}
.opeiningscreen ul{
    padding: 0px;
}

input#login {
    background: #014224;
    border: 1px solid #1e8c59;
    outline: none;
    cursor: pointer;
}
</style>
</section>
