<div class="wrapper">
   <header class="main-header">
      <a href="index2.html" class="logo">
      <span class="logo-mini">SQA</span>
      </a>

      <nav class="navbar">
       <span class="pageTitle"><i class="fa fa-file-text-o"></i>{{pageTitle}}</span>
        <ul class="rightMenu">
          <li> <span  *ngIf="users"><i class="fa fa-user"></i>  Hi ,    {{users.firstName}}</span></li>
          <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="#"><i class="fa fa-exit"></i>Logout</a></li>
          <li>
          <form [formGroup]="myform" (ngSubmit)="onSubmit(myform.value)">
            <p-dropdown [options]="Projects" formControlName="Project" [filter]="true"></p-dropdown>
            <p-dropdown [options]="auditVersion"  formControlName="auditControl" [filter]="true"></p-dropdown>
            <input type="submit">           
          </form>
          </li>
        </ul>
      </nav>

   </header>

    <aside [class.parentMenu]="Menuchanges" class="main-sidebar">
      <section class="sidebar">
        <Ptd-Menu  (Menuchange)="handleUserUpdated()" class="menu1" [menulist]="menu1"></Ptd-Menu>
        <Ptd-Menu  (Menuchange)="handleUserUpdated()"  class="menu2" [menulist]="menu2"></Ptd-Menu>
      </section>
    </aside>

    <div class="content-wrapper">
<!--        
      <projectSelect></projectSelect> -->
      <router-outlet [test]="name"></router-outlet>
     </div>
</div>

<Loader>
</Loader>