$body-font-family: 'Roboto', sans-serif;
$body-background-color: #294072;

$divContainer-margin: 60px 10px 0px 10px;
$divContainer-padding: 10px;

$th-background-color: #0c6;
$th-color: #FFF;
$th-font-size: 13px;
$th_td_padding: 5px 10px;

$menu-font-family: 'Open Sans', Arial, sans-serif;



//colors

$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$cyan: #F5432F;
$heliotrope: #8a7dff;
$scorpion: #595959;
$tundora: #444;