@import "vendors/font-awesome.min";
@import "vendors/bootstrap.min";
@import "vendors/bootstrap-responsive.min";
@import "vendors/jquery-confirm";
/*--------------------------------------Variables--------------------------------------*/

$ltr : left;
$rtl : right;
$regular: helvetica;
$themecolor : #cc1f20;
$black : #000;
$white : #fff;


/*---------------------------------------mixins----------------------------------*/

@mixin float($ltr){
    float:$ltr;
    width:100%;
    text-align:$ltr;
}

@mixin inlineblock{
    display: inline-block;
    width: 100%;
    text-align: center;
}


@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin transform ($deg) {
    transform: rotateY($deg);
    -webkit-transform: rotateY($deg);
    -moz-transform: rotateY($deg);
    -ms-transform: rotateY($deg);
    -o-transform: rotateY($deg);
}


@mixin translate3d ($v1, $v2, $v3) {
    -webkit-transform: translate3d($v1, $v2, $v3);
    -ms-transform: translate3d($v1, $v2, $v3);
    -moz-transform: translate3d($v1, $v2, $v3);
    transform: translate3d($v1, $v2, $v3);
}

@mixin background-size($value){
    -webkit-background-size: $value;
    -moz-background-size: $value ;
    -o-background-size: $value ;
    background-size: $value ;
}

@mixin width-calc($value1, $value2){
   
    width: calc($value1 - $value2);
    width: -webkit-calc($value1 - $value2);
    width: -moz-calc($value1 - $value2);
    width: -ms-calc($value1 - $value2);
}



/*-----------------------------------COMPONENTS-------------------------------*/

body.loginpage {
    /*background-image: url('../images/home-big-ideas.jpg');*/
    overflow: hidden;
}


.carousel-fade 
{
.carousel-inner {
        .item {
            opacity: 1;
            transition-property: opacity;
              }

        .active {
        opacity: 1;
        }

        .active.left, .active.right {
            left: 0;
            opacity: 1;
            z-index: 1;
        }

         .next.left, .prev.right {
            opacity: 1;
        }
}

    .carousel-control {
    z-index: 2;
    }

}



 

@media all and (transform-3d),
(-webkit-transform-3d) {

    .carousel-fade .carousel-inner{
        > .item.next , > .item.active.right, > .item.prev, > .item.active.left {
            opacity: 1;
         /*--   @include translate3d (0, 0, 0);--*/
        }

        >  .item.next.left,  .item.prev.right, .item.active {
            opacity: 1;
         /*--    @include translate3d (0, 0, 0); --*/
        }

    }  
   
}

.item:nth-child(1) {
    background: url("../images/loginscreen1.jpg") no-repeat center center fixed;
    @include background-size(cover);
}
.item:nth-child(2) {
    background: url("../images/loginscreen2.jpg") no-repeat center center fixed;
    @include background-size(cover);
}
.item:nth-child(3) {
    background: url("../images/loginscreen3.jpg") no-repeat center center fixed;
    @include background-size(cover);
}
.item:nth-child(4) {
    background: url("../images/loginscreen4.jpg") no-repeat center center fixed;
    @include background-size(cover);
}
.item:nth-child(5) {
    background: url("../images/loginscreen5.jpg") no-repeat center center fixed;
    @include background-size(cover);
}
.item:nth-child(6) {
    background: url("../images/loginscreen6.jpg") no-repeat center center fixed;
    @include background-size(cover);
}
.item:nth-child(7) {
    background: url("../images/loginscreen7.jpg") no-repeat center center fixed;
    @include background-size(cover);
}
.item:nth-child(8) {
    background: url("../images/loginscreen8.jpg") no-repeat center center fixed;
    @include background-size(cover);
}
.carousel {
z-index: -99;
    .item {
    position: fixed;
    width: 100%;
    height: 100%;
    }
}

.registerheader {
    @include float($ltr);
    padding: 50px 0 0;
}



.registerbody {
    @include inlineblock;
    text-align: center;
    border-radius: 4px;
    background: rgba(27, 23, 23, 0.61);
    padding: 21px 0 13px;
}


.registerbody ul li label {
    color: #fff;
    font-family: $regular;
    font-size: 14px;
    font-weight: normal;
    /*text-transform: uppercase;*/
    @include float($ltr);
}

.registerbody ul li {
    @include float($ltr);
    margin: 5px 0
}


.input-divs{
    .icnholder {
        background-image: url("../images/ash.png");
        background-color: rgba(204, 201, 201, 0.44);
        @include inlineblock;
        height: 47px;
        float: $ltr;
        width: 47px;
    }

    i.regisr {
        background-image: url("../images/register.png");
        display: inline-block;
        height: 20px;
        width: 16px;
        margin: 15px 0 0;

        &.regit1 {background-position: 0 -22px;}

        &.regit4 {
            background-position: 3px -152px;
            margin: 11px 0 0;
        }

    }
}




.input-divs input[type="text"],
.input-divs input[type="password"],
.input-divs input[type="email"] {
   border: none;
  border-radius: 0;
  width: 100%;
  float: left;
  background: rgba(255, 255, 255, 0.91);
  height: 40px;
}
 #forgetpass + .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .9;
  }

#forgetpass .modal-dialog{
    width: 450px;
    border-radius: 0;
    margin-top: 8%;

    .modal-content{
    box-shadow:none;
    border-radius:0;
    }

   

  .modal-body {
    position: relative;
    padding: 15px;
    min-height: 110px;
    padding: 31px 0 0 17px;


    .form-control{
    width: 77%;
    margin: 0 10px 0 0;
    float:left;
    }
}


}

.form-group.text-center {
    float: right;
    margin: 0 0px 0 0;
}


.registerbody{
    ul li {
    @include float($ltr);
    margin: 5px 0
    }
    >a {
    display: inline-block;
    margin: 0 0 46px;
    width: 170px
    }
}

.rememberMe{
	color: rgba(255, 255, 255, 0.77);
	float: left;
	> span {
		vertical-align: top;
	}
}

.forgetText{
    color: rgba(255, 255, 255, 0.77);
    margin: 5px 0 0;
    float: left;
    cursor: pointer;
    font-size: 14px;

    &:hover{
     color: rgba(255, 255, 255, 0.77);
     text-decoration:underline;
    }
}


.registerbody-left .btn {
    background: $themecolor;
    color: #fff;
    float: $rtl;
    font-size: 15px;
    margin: 0px 0 0;
    border:none;
}

 .input-divs.focus i.regisr {
    background-repeat: no-repeat;
&.regit1 {
    background-position: 0 -22px;
}
&.regit4 {
    background-position: 3px -153px;
}
}


.signbgconformation-holder {
    @include float($ltr);
    @include background-size(cover);
    min-height: 650px;
    position: relative;
}


.registerbody-left {
     display: inline-block; width:100%; text-align: center;
     ul{
     padding:0;
     margin:0;
     
      li {list-style: none;}
     }
    
}


.opeiningscreen.opeiningscreen {
    min-height: 900px;
    @include float($ltr);
}


/*------------ANIMATION EFFECTS_____________*/

.logodiv {
    margin: 70px auto 0;
    text-align: center;
    width: 490px;
}


.top-p{
    display: inline-block;
    text-align: center;
    width: 100px;
}

.top-p img{width:100%;}
 
.zoomin-p {
/*--  @include animation(0s, 2s, Pzoom);--*/
}
 

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}





@-webkit-keyframes Pzoom {
from {opacity: 1; -webkit-transform: rotate(4deg) scale(6) skew(1deg); }
to {opacity: 1; -webkit-transform: rotate(0deg) scale(1) skew(1deg); }
}

@-moz-keyframes Pzoom {
from {opacity: 1; -moz-transform: rotate(4deg) scale(6) skew(1deg); }
to {opacity: 1; -moz-transform: rotate(0deg) scale(1) skew(1deg); }
}

@-o-keyframes Pzoom {
from {opacity: 1; -o-transform: rotate(4deg) scale(6) skew(1deg); }
to {opacity: 1; -o-transform: rotate(0deg) scale(1) skew(1deg); }
}



.brandname{
    @include inlineblock;
    text-align: center;  margin: 10px 0 0;
    padding: 0;

  li{
    display: inline-block;
     width:auto; 
  /*--  @include transform (190deg);
    @include animation(2s, 1s, Protate); --*/
     font-size: 33px;
     font-weight: bold;
   opacity: 1;
  }

  } 




@-webkit-keyframes Protate {
from {opacity: 1; -webkit-transform: rotateY(190deg); }
to {opacity: 1; -webkit-transform: rotate(0deg); }
}
@-moz-keyframes Protate {
from {opacity: 1; -moz-transform: rotateY(190deg); }
to {opacity: 1; -moz-transform: rotate(0deg); }
}
@-o-keyframes Protate {
from {opacity: 1; -o-transform:rotateY(190deg);}
to {opacity: 1; -o-transform: rotate(0deg); }
}



.brandbottom{
    @include inlineblock;
    padding: 0;
    text-align: center;

    li{
    display: inline-block;
    margin: 0 4px;
    width: auto;
    }

	 img {
	float: $ltr;
/*--	@include animation(3s, 1s, imgscale); --*/
	opacity: 1;
	}
}



@-webkit-keyframes imgscale {
from {opacity: 1; -webkit-transform: scale(.1); }
to {opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes imgscale {
from {opacity: 1; -moz-transform:scale(.1);  }
to {opacity: 1; -moz-transform: scale(1); }
}
@-o-keyframes imgscale {
from {opacity: 1; -o-transform:scale(.1); }
to {opacity: 1; -o-transform:scale(1);  }
}


.enterbtn{
    background: #ce2127 none repeat scroll 0 0;
    border-radius: 30px 0;
    color: $white;
    display: inline-block;
    font-size: 18px;
    margin: 110px 0 0;
    padding: 13px 27px;
   /*-- @include animation(2s, 1s, opacitybtn);--*/
   opacity: 1;
}



@-webkit-keyframes opacitybtn {
    from {opacity: 1; }
    to {opacity: 1;   }
}
@-moz-keyframes opacitybtn {
    from {opacity: 1;   }
    to {opacity: 1;  }
}
@-o-keyframes opacitybtn {
    from {opacity: 1;   }
    to {opacity: 1;    }
}


.arrowimgs{
    @include inlineblock;
    text-align: center;
}





.arrowimgs img{
    border: 1px solid #7c7c7c;
    border-radius: 50%;
    bottom: 20px;
    height: 50px;  right: 40px;
    padding: 8px;
    position: absolute;
    width: 50px;
}

.registerbody-left.col-xs-12 > ul {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
}

.animatetoptobottom {
	/*-- @include animation(2s, 2s, animtop-bottm ); --*/
	opacity: 1;
	position: relative;
}

@-webkit-keyframes animtop-bottm {
	from {opacity: 1; top: -20px }
	to {opacity: 1; top: 0; }
}
@-moz-keyframes animtop-bottm {
	from {opacity: 1; top: -20px  }
	to {opacity: 1; top: 0;}
}
@-o-keyframes animtop-bottm {
	from {opacity: 1; top: -20px  }
	to {opacity: 1;  top: 0;}
}

.opacityanim{
	/*--@include animation(2s, 2s, opacit-anim);--*/
	opacity: 1;
	position: relative;
}

@-webkit-keyframes opacit-anim {
    from {opacity: 1;  }
    to {opacity: 1;   }
    }
    @-moz-keyframes opacit-anim {
    from {opacity: 1; }
    to {opacity: 1; }
    }
    @-o-keyframes opacit-anim {
    from {opacity: 1;    }
    to {opacity: 1;   }
}

.loginuserimn{
    @include float($ltr);
    position: relative;
}

.loginuserimn img {
    position: absolute;
    right: -70px;
    top: -50px;
    width: 120px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.animatetoptobottom , .opacityanim , .brandname li , .brandbottom img{
		opacity: 1;
	/*--transform: rotateY(0deg);--*/
	}
}

.logodiv .center.col-md-12.visible-xs {
    margin-bottom: 10px;
}

@media screen and (max-width:480px) {
	#forgetpass{
		.modal-dialog {
	    	width: 93%;
	    	.modal-body .form-control {
			    width: 64%;
			    font-size: 12px;
		    }
	    }
	}
}

#forgetpass .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #6bb19d;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     color: #fff;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 10000;
    display: none;
}

#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}